@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
h1 {
	font-family: "Montserrat";
	font-weight: 800;
	font-size: 4rem;
	color: #003bff
}

h2 {
	font-family: "Montserrat";
	font-weight: 800;
	font-size: 2.5rem;
	color: #003bff;
}


h6 {
	font-family: "Montserrat";
	font-weight: 800;
	color: #003bff;
}

.custom-block {
	border-color: #003BFF !important;
	border-radius: 4px;
	box-shadow: 1px 5px 10px rgba(0, 59, 255, 0.1);
	background-color: #f9f9f9 !important;
}

.text-grey {
	color: grey;
}

.italic {
	font-style: italic;
}

.text-center {
	text-align: center;	
}

.border-none {
	border: none;	
}